# IntelliJ project files
.idea
build/
dist/
draco/
final/

**/*.svg
.dockerignore
.DS_Store
.eslintignore
*.png
*.toml
docker
.editorconfig
Dockerfile*
.gitignore
.prettierignore
LICENSE
.eslintcache
*.lock
*.log
